<!DOCTYPE html>
<html>
<style>
    a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
</style>
<head>
    <link rel="stylesheet" href="Sushow.css">

</head>
<body>
    <div class="container">
        <header>
            <p>DVC Sustainability</p>
            <ul>
                <li><a href="Suswhat.html">What?</a></li>
                <li><a href="Suswhy.html">Why?</a></li>
                <li><a href="Sushow.html">How?</a></li>
                <li><a href="Susfurther.html">Further</a></li>
            </ul>
        </header>
        <section>
            <span5><h1>Further..</h1>
            </span5>
            <img src="images.png" alt="" width=400>
            <span6><h3> While our current project involves scanning barcodes to provide information and recycling guidance, our group sees the potential for further development. Object recognition technology, in addition to barcodes, could be used to recognize items and alleviate the inconvenience of having to scan a barcode separately. With simpler processes, we could eventually develop smart waste bins that automatically sort and recycle waste, thereby helping to solve recycling problems..</h3>
            </span6>
            
            
            
            <a href="Susmain.html">Return to main</a>
            
        </section>
        <footer>This website is made by <a href=#>Gon</a>, <a href=#>Donggyu</a>, <a href=#>Kyle</a>, <a href=#>Sam</a>
        </footer>
    </div>
</body>    
</html>