<!DOCTYPE html>
<html>
<style>
    a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
</style>
<head>
    <link rel="stylesheet" href="Sushow.css">

</head>
<body>
    <div class="container">
        <header>
            <p>DVC Sustainability</p>
            <ul>
                <li><a href="Suswhat.html">What?</a></li>
                <li><a href="Suswhy.html">Why?</a></li>
                <li><a href="Sushow.html">How?</a></li>
                <li><a href="Susfurther.html">Further</a></li>
            </ul>
        </header>
        <section>
            <span5><h1>How this project works..</h1>
            </span5>
            <img src="WasteSignage-525x405.jpg" alt="" width=400>
            <span><h3>Have you ever seen this sign before?</h3></span>
            <span6><h3> It's a common sign around garbage cans, indicating the need for sorting waste. However, it's often too much of a hassle to sort waste while disposing of it. That's why we aim to simplify the process through our project. By simply scanning a product's barcode, users will receive information about the item and how to properly dispose of it. They'll be informed whether specific parts of the product should be composted, recycled, or sent to a landfill.</h3>
            </span6>
            
            
            
            <a href="Susmain.html">Return to main</a>
            
        </section>
        <footer>This website is made by <a href=#>Gon</a>, <a href=#>Donggyu</a>, <a href=#>Kyle</a>, <a href=#>Sam</a>
        </footer>
    </div>
</body>    
</html>