<!DOCTYPE html>
<html>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
</style>
<head>
    <link rel="stylesheet" href="Susmain.css">
</head>
<body>
    <div class="container">
        <header>
            <p>DVC Sustainability</p>
            <ul>
                <li><a href="Suswhat.html">What?</a></li>
                <li><a href="Suswhy.html">Why?</a></li>
                <li><a href="Sushow.html">How?</a></li>
                <li><a href="Susfurther.html">Further</a></li>
                
            </ul>
        </header>
    
        <footer>This website is made by <a href=#>Gon</a>, <a href=#>Donggyu</a>, <a href=#>Kyle</a>, <a href=#>Sam</a>
        </footer>
    </div>
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    </style>
</body>    
</html>