<!DOCTYPE html>
<html>
<style>
    a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
</style>
<head>
    <link rel="stylesheet" href="Suswhy.css">

</head>
<body>
    <div class="container">
        <header>
            <p>DVC Sustainability</p>
            <ul>
                <li><a href="Suswhat.html">What?</a></li>
                <li><a href="Suswhy.html">Why?</a></li>
                <li><a href="Sushow.html">How?</a></li>
                <li><a href="Susfurther.html">Further</a></li>
            </ul>
        </header>
        <section>
            
            <span3><h1>Why we started this project is...</h1>
            </span3>
            <img src="aha.png" alt="" width=200>
            <span4><h3>The essence of the term sustainability is the meeting of the current generation's needs with those of future generations without limiting their possibilities. However, many people tend to view this issue as a problem that is solely the responsibility of governments and not something that individuals can practice in their daily lives. This broad use of the term has also led to a lack of clarity in people's understanding of sustainability. Therefore, our group believes that bringing this topic into real-life situations is the key to this project. As a result, the topic we have chosen is the "DVC Cafeteria Recycling" project, which aims to implement sustainable practices in a practical setting.
            </h3>
            </span4>
            
            
            <a href="Susmain.html">Return to main</a>
            
        </section>
        <footer>This website is made by <a href=#>Gon</a>, <a href=#>Donggyu</a>, <a href=#>Kyle</a>, <a href=#>Sam</a>
        </footer>
    </div>
</body>    
</html>